[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/picojson"]
	path = external/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "external/tinycbor"]
	path = external/tinycbor
	url = https://github.com/intel/tinycbor.git
